<link rel="stylesheet" href="../../static/css/footer.css">
<div class="footer-block">
    <div class="row-1">
        <h2>Our Mission</h2>
        <p>Food for People is working to eliminate hunger and improve the health and well-being of our community through access to healthy and nutritious foods, community education and advocacy</p>
        <h2>Download our Apps</h2>
        <a href="http://www.appstore.com" target="_blank"> <img src="../../static/img/app-store.png" alt=""></a>
        <a href="http://www.playstore.com" target="_blank"> <img src="../../static/img/play-store.png" alt=""></a>

    </div>

    <div class="row-2">
        <h2>Pages</h2>
        <ul>
            <li><a href="/"  target="_blank">Home</a></li>
            <li><a href="/blogs" target="_blank">Blogs</a></li>
            <li><a href="/about" target="_blank">About</a></li>
        </ul>
    </div>
    <div class="row-2">
        <h2>Social Links</h2>
        <ul>
            <li><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="http://www.youtube.com" target="_blank">Youtube</a></li>
            <li><a href="http://www.Instagram.com" target="_blank">Instagram</a></li>
        </ul>
    </div>
</div>

<div class="copyright">

    <p><a href="/" target="_blank">Resturant Website</a> &copy; Copyright || All Right Reserved 2022</p>
</div> 



