 
 <link rel="stylesheet" href="../../static/css/header.css">


     <div class="navbar">
         
         <a href="/"><img src="../../static/img/OIP-removebg-preview.png" alt=""></a>
             
             <ul>
                 <li><a href="/">Home</a></li>
                 <li><a href="/blogs">Blogs</a></li>
                 <li><a href="/about">About</a></li>
                 <li><a href="/contact">Contact</a></li>
                </ul>
                
       
</div>