<%- include('./partials/head.ejs')%>
<link rel="stylesheet" href="../static/css/blogs.css">
<%- include('./partials/header.ejs')%>

<body>
<div class="main-blog-image"></div>

<h1>Our Latest blogs</h1>

<div class="blog">
    <div class="blog-image">
        <img src="../static/img/blog-1.jpg" alt="">
    </div>
    <div class="blog-content">
        <div class="Date">
            <h5>12\3\2022</h5>
        </div>
        <div class="recipie-name"><a href=""><h2>Crispy Chicken Tika</h2></a></div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione in nihil dolorem nulla vel quidem exercitationem velit quaerat inventore praesentium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo accusantium pariatur id quae ut adipisci voluptas dolorum iusto rerum amet.</p>
        </div>
        <div class="author">
            <h4>BY; Mark Jackson</h4>
        </div>
        <h6>
            <a href="">Continue reading</a>

        </h6>
        <!-- <a href=""><button class="btn">read more</button></a> -->
    </div>
    
</div>
<hr>

    
</body>    


<%- include('./partials/footer.ejs')%>
