<%- include('./partials/head.ejs')%>
<link rel="stylesheet" href="../static/css/index.css">
<%- include('./partials/header.ejs')%>


        <body>
            
            <div class="index-main">
                <h1>Welcome to Resturant Website</h1>
                <p>Food tastes better when you eat it with your family</p>
                <a href="/contact" target="_blank"><button class="btn">Order Now</button></a>
            </div>
        

            <div class="founder-text">
                <h1>“A recipe has no soul, You as the cook must bring soul to the recipe” </h1>
                <p>Founder words</p>
                <h2>Will Jackson</h2>
            </div>
            <hr>
            <div class="main-dishes-heading">

                <h1>Main Dishes</h1>
            </div>
            <div class="main-dishes">
                <div class="dishes-row">
                    <img src="../../static/img/dish-2.webp" alt="">
                    <div class="dish-name">
                        <h2>Cheeseburger Omlete</h2>
                    </div>
                    <div class="dish-info">
                        <p>This ridiculously delicious omelet is appropriate served at any hour of the day and is an
                            excellent use for leftover burger fixin's, if you have them.</p>
                    </div>
                    <div class="cook-name">
                        <h3>BY: Jason William</h3>
                    </div>

                </div>

                <div class="dishes-row">
                    <img src="../../static/img/dish-3.webp" alt="">
                    <div class="dish-name">
                        <h2>Cabernet-Braised Beef</h2>
                    </div>
                    <div class="dish-info">
                        <p>Cooking short ribs in red wine delivers an unbelievably rich sauce perfect for spooning over
                            noodles. Serve with chunk of bakery bread.</p>
                    </div>
                    <div class="cook-name">
                        <h3>BY: Peter wade</h3>
                    </div>

                </div>

                <div class="dishes-row">
                    <img src="../../static/img/dish-1.webp" alt="">
                    <div class="dish-name">
                        <h2>Asin Chicken Thigh</h2>
                    </div>
                    <div class="dish-info">
                        <p>Serve these saucy chicken thighs over cooked noodles with a side of steamed broccoli for a
                            well-rounded meal. Finishing the chicken thighs in the broiler </p>
                    </div>
                    <div class="cook-name">
                        <h3>BY: jakson Tait</h3>
                    </div>

                </div>
            </div>


            <!-- row-2 of main dishes -->


            <div class="main-dishes">
                <div class="dishes-row-2">
                    <img src="../../static/img/dish-4.webp" alt="">
                    <div class="dish-name">
                        <h2>Pasta Primavera</h2>
                    </div>
                    <div class="dish-info">
                        <p>It's hard to beat pasta primavera. But it's even harder to beat a 20-minute pasta primavera
                            that only requires one skillet.</p>
                    </div>
                    <div class="cook-name">
                        <h3>BY:Robin Bashinsky</h3>
                    </div>

                </div>

                <div class="dishes-row-2">
                    <img src="../../static/img/dish-5.webp" alt="">
                    <div class="dish-name">
                        <h2>Penne Alla Vodka Pizza</h2>
                    </div>
                    <div class="dish-info">
                        <p>You are sure to love this irresistible pie that combines 2 favorites: vodka pasta and
                            homemade pizza. </p>
                    </div>
                    <div class="cook-name">
                        <h3>BY:Anderson blundel</h3>
                    </div>

                </div>

            </div>


            <!-- inner-container -->


            <div class="inner-container">
                <div class="only-image">
                    <img src="../../static/img/only-image.webp" alt="">
                </div>
                <div class="only-text">
                    <div class="h1">
                        <h2>Crunchy Roast Beef Quesadilla Wraps</h2>
                    </div>
                    <div class="text">
                        <p>Meet the tasty, more sophisticated version of a crunch wrap supreme. These wraps are crispy,
                            chewy, and flavorful thanks to layers of tortilla, cheese, beef, and crushed tortilla chips.
                            Mexican cream and Chihuahua cheese can be found in</p>

                    </div>
                </div>
            </div>

            <!-- images gallery -->
            <div class="main-gallery-heading">
                <h2>Images</h2>
                <h1>Gallery</h1>
            </div>

            <div class="gallery">
                <div class="box">
                    <img src="../../static/img/a1.jpg" alt="">
                </div>
                <div class="box">
                    <img src="../../static/img/a2.jpg" alt="">
                </div>
                <div class="box">
                    <img src="../../static/img/a3.jpg" alt="">
                </div>


            </div>
            <div class="gallery-1">
                <div class="box">
                    <img src="../../static/img/a4.jpg" alt="">
                </div>
                <div class="box">
                    <img src="../../static/img/a7.jpg" alt="">
                </div>
                <div class="box">
                    <img src="../../static/img/a5.jpg" alt="">
                </div>

            </div>

            <!-- Testionial -->

            <div class="testimonial">
                <div class="testimonial-heading">
                    <h1>
                        Customer experience
                    </h1>
                </div>
                <div class="card">
                    <div class="text">

                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque incidunt fuga error odit
                            suscipit quis facilis tempore dicta nemo itaque molestiae sint voluptatum, quos sed."</p>
                    </div>
                    <div class="img">
                        <img src="../../static/img/t2.jpg" alt="">

                    </div>
                    <div class="name">
                        <h3>Matt Parker</h3>

                    </div>

                </div>
            </div>
            </div>

<!-- location -->

<div class="location-heading">
    <h1>Location</h1>
</div>

<div class="location">
    <div class="contact">
        <h1>Contact</h1>
        <small>732/21 Second Street, Manchester <br>
            Kingston United Kingdom
            </small>
            <h3>Tel: 1.800.456.6743
            </h3>
    </div>
    <div class="time">
        <h1>Opening Hours</h1>
        <h4>Lunch Time</h4>
        <p>Monday to Sunday</p>
        <p>10.30am - 3:00pm</p>
    </div>
</div>

        </body>


        <%- include('./partials/footer.ejs')%>