<link rel="stylesheet" href="../../static/css/about.css">
<%- include('../partials/head.ejs')%>
<%- include('../partials/header.ejs')%>

<body>

    <div class="about-main">
        <h1>Spices have a story.</h1>
        <p>Earn your success based on service to others, not at the expense of others</p>
    </div>

    
</body>    


<%- include('../partials/footer.ejs')%>
