<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="../../static/css/contact.css">
<%- include('../partials/header.ejs')%>

<body>

<h1>Order Here</h1>


    <form action="/contact" method="post">
        
       
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
      
    
            <label for="number">Phone no.</label>
            <input type="number" id="phone" name="phone">
            
        <label for="Address">Your Address</label>
        <input type="text" id="address" name="address">
   
        <label for="dishname">Dish Name </label>
        <input type="text" id="dish" name="dish">
  
    <a href="/contact" target="_blank"><button class="btn">Order Now</button></a>
</form>

</body>    


<%- include('../partials/footer.ejs')%>
